<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Serverless Webapp Demo</title>
        <style>

            body {
                text-align:center;
            }

        </style>
    </head>
    <body>
        <h1>Serverless Webapp Demo</h1>
        <p>This is a serverless webapp demo. Awesome!</p>
    </body>
</html>